NODE_ENV=production
PORT=4000
API_PREFIX=api

DB_HOST=db
DB_PORT=5432
DB_NAME=ciem
DB_USER=postgres
DB_PASSWORD=AEP076AEP
DATABASE_URL=postgresql://postgres:AEP076AEP@db:5432/ciem

FRONTEND_URL=http://localhost:55173,http://frontend:5173
VITE_API_BASE_URL=http://localhost:54000/api/v1

FRONTEND_PUBLIC_PORT=55173
BACKEND_PUBLIC_PORT=54000
DB_PUBLIC_PORT=55432
